<h1 class="text-center">Book <%= @book.title %></h1>
<dl>
	<dt>Description</dt>
		<dd><%= @book.description %></dd>
	<dt>Author's ID</dt>
		<dd><%= @book.author_id %></dd>
</dl>
<%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary" %>
<%= link_to "Back", root_path, class: "btn btn-default" %>
